doctype html
html(lang="ko")
  head
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title #{ pageTitle } | #{ siteName }
  body
    header
      nav
        a(href="/") Home
        a(href="/search") Search
        if loggedIn
          a(href="/videos/upload") Upload Video
          a(href=`/users/${loggedInUser._id}`) My Profile
          a(href="/users/edit") Edit Profile
          a(href="/users/logout") Logout
        else
          a(href="/join") Join
          a(href="/login") Login
      h1= pageTitle
    main
      if errorMessage
        span= errorMessage
      block content
  include partials/footer.pug
  script(src="/assets/js/main.js") 
