extends base

block content
  form(method="POST")
    .inputs
      div
        label(for="old-pw") Old Password
        input#old-pw(
          placeholder="Old Password",
          type="password",
          name="oldPassword"
        )
      div
        label(for="new-pw") New Password
        input#new-pw(
          placeholder="New Password",
          type="password",
          name="newPassword"
        )
      div
        label(for="new-pw-confirm") New Password Confirmation
        input#new-pw-confirm(
          placeholder="New Password Confirmation",
          type="password",
          name="newPasswordConfirmation"
        )
    input.btn(type="submit", value="Change Password")
