extends base

block content
  form.board(method="POST")
    .infos
      .info
        label.info__label(for="old-pw") Old Password
        input#old-pw.info__input(
          placeholder="Old Password",
          type="password",
          name="oldPassword"
        )
      .info
        label.info__label(for="new-pw") New Password
        input#new-pw.info__input(
          placeholder="New Password",
          type="password",
          name="newPassword"
        )
      .info
        label.info__label(for="new-pw-confirm") New Password Confirmation
        input#new-pw-confirm.info__input(
          placeholder="New Password Confirmation",
          type="password",
          name="newPasswordConfirmation"
        )
    input.btn(type="submit", value="Change Password")
