extends base

block content
  form.board(method="POST", enctype="multipart/form-data")
    if loggedInUser.avatar
      img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
    .infos 
      .info
        label.info__label(for="avatar") Avatar
        input#avatar.info__input(type="file", name="avatar", accept="image/*")
      .info
        label.info__label(for="name") Name
        input#name.info__input(
          name="name",
          type="text",
          required,
          placeholder="Name",
          value=loggedInUser.name
        )
      .info
        label.info__label(for="email") Email
        input#email.info__input(
          name="email",
          type="email",
          required,
          placeholder="Email",
          value=loggedInUser.email
        )
      .info
        label.info__label(for="username") Username
        input#username.info__input(
          name="username",
          type="text",
          required,
          placeholder="Username",
          value=loggedInUser.username
        )
      .info
        label.info__label(for="location") Location
        input#location.info__input(
          name="location",
          type="text",
          placeholder="Location",
          value=loggedInUser.location
        )
    input.btn(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      a.link-btn(href="change-password") Change Password &rarr;
