extends base

block content
  form(method="POST", enctype="multipart/form-data")
    if loggedInUser.avatar
      img(src="/" + loggedInUser.avatarUrl, width="100", height="100")
    .inputs 
      div
        label(for="avatar") Avatar
        input#avatar(type="file", name="avatar", accept="image/*")
      div
        label(for="name") Name
        input#name(
          name="name",
          type="text",
          required,
          placeholder="Name",
          value=loggedInUser.name
        )
      div
        label(for="email") Email
        input#email(
          name="email",
          type="email",
          required,
          placeholder="Email",
          value=loggedInUser.email
        )
      div
        label(for="username") Username
        input#username(
          name="username",
          type="text",
          required,
          placeholder="Username",
          value=loggedInUser.username
        )
      div
        label(for="location") Location
        input#location(
          name="location",
          type="text",
          placeholder="Location",
          value=loggedInUser.location
        )
    input.btn(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly
      hr
      a.link-btn(href="change-password") Change Password &rarr;
