extends base.pug

block content
  video(src="/" + video.fileUrl, controls)
  div 
    p= video.description
  div
    small Uploaded by 
      a(href=`/users/${video.owner._id}`)= video.owner.name
  div
    small= video.createdAt
  if String(video.owner._id) === String(loggedInUser._id)
    div
      a(href=`${video.id}/edit`) Edit video &rarr;
      br
      a(href=`${video.id}/delete`) Delete video &rarr;
