extends base.pug

block content
  video(src="/" + video.fileUrl, controls)
  div 
    p= video.description
    small Uploaded by #{owner.name}
    small= video.createdAt
    if String(video.owner) === String(loggedInUser._id)
      a(href=`${video.id}/edit`) Edit video &rarr;
      br
      a(href=`${video.id}/delete`) Delete video &rarr;
